<div>
  <h2 class="text-lg">カレンダー設定</h2>

  <%- if current_user.google_calendars.present? %>
    <ul class="list-disc list-inside px-2 mt-3">
      <%- current_user.google_calendars.each do |calendar| %>
        <li>
          <span class="font-bold">
            <%= link_to calendar.summary, "/google_calendars/#{calendar.calendar_id}/edit", class: "link" %>
          </span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <span class="text-gray-500">カレンダーが設定されていません</span>
  <% end %>

  <div class="mt-5 text-center">
    <a href="/google_calendars/setup/new" class="btn-primary cursor-pointer">新しく設定する</a>
  </div>

  <h2 class="text-lg mb-2 mt-5">アカウント</h2>

  <div class="flex">
    <div><%= "#{current_user.nickname}" %><%= current_user.email ? "(#{current_user.email})" : nil %></div>

    <div class="ml-auto">
      <%= link_to "アカウントを削除", "/users/delete", class: "link text-sm" %>
    </div>
  </div>


  <div class="mt-5 text-center">
    <%= form_with url: '/logout', local: true do |f| %>
      <%= f.submit 'ログアウト', class: 'btn-secondary cursor-pointer', data: { turbo_confirm: "ログアウトしますか？" } %>
    <% end %>
  </div>

</div>
