<div>
  <h2 class="text-lg">設定</h2>

  <ul class="list-disc list-inside p-2">
    <li><%= link_to "カレンダー設定", "/google_calendars", class: "link" %></li>
  </ul>

  <h2 class="text-lg my-2">アカウント</h2>

  <p><%= "#{current_user.nickname}" %><%= current_user.email ? "(#{current_user.email})" : nil %></p>

  <div class="mt-5">
    <%= link_to "退会", "/users/delete", class: "link" %>
  </div>

  <div class="mt-5">
    <%= form_with url: '/logout', local: true do |f| %>
      <%= f.submit 'ログアウト', class: 'btn-secondary cursor-pointer' %>
    <% end %>
  </div>

</div>
