<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "rcal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="max-w-lg mx-auto p-4 min-h-screen flex flex-col">
      <div class="sm:flex-grow-0 flex-grow">

        <div class="mt-0 flex items-center">
          <h1 class=""><a href="/">
            <%= image_tag "rcal_logo.png", width: "55", height: "28" %>

          </a></h1>

          <div class="ml-auto">
            <div class="flex items-center gap-2">
              <a href="/howto">
                <%= image_tag "heroicons/question.svg", size: "24x24" %>
              </a>

              <% if current_user %>
                  <a href="/mypage">
                    <%= image_tag "heroicons/configuration.svg", size: "24x24" %>
                  </a>
              <% else %>
              <% end %>
            </div>
          </div>
        </div>

        <%- if current_user && current_user.notifications.unread.count > 0 %>
          <%- current_user.notifications.unread.each do |notification| %>
            <turbo-frame id="notification-<%= notification.id %>">
              <div class="p-2 text-white bg-red-500 rounded-lg my-4">
                <%= notification.message %>
                <%= button_to "閉じる", "/notifications/#{notification.id}", method: :delete, form_class: "inline font-bold" %>
              </div>
            </turbo-frame>
          <% end %>
        <% end %>

        <%- if flash[:alert] %>
          <div class="p-2 text-white bg-red-500 rounded-lg my-4"><%= flash[:alert] %></div>
        <% end %>

        <%- if flash[:notice] %>
          <div class="p-2 text-white bg-cyan-500 rounded-lg my-4"><%= flash[:notice] %></div>
        <% end %>

        <div class="my-5">
          <%= yield %>
        </div>
      </div>

      <footer class="text-center text-sm mt-5 border-teal-200 border-t mb-5">
        <ul class="flex justify-center gap-2 mt-1">
          <li><a href="/terms" class="link">利用規約</a> </li>
          <li><a href="/privacy" class="link">プライバシーポリシー</a> </li>
          <li><a href="https://github.com/ykpythemind/rcal" class="link" target="_blank">ソースコード</a> </li>
        </ul>
      </footer>
    </main>
  </body>
</html>
